
@model Try3.Models.User
@{
    ViewData["Title"] = "About";
}


<h2>Пользователь @Model.Email</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Идентификатор</dt>
        <dd></dd>

        <dt>Имя</dt>
        <dd></dd>
    </dl>
</div>